<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(58875604, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
    <noscript><div><img th:src="@{https://mc.yandex.ru/watch/58875604}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<p>
<h1>Form</h1>


<form action="#" th:action="@{/}" th:object="${youtubeInputForm}" method="post">
    <p>url: <input type="text" th:field="*{videoURL}"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>


<h1>Result</h1>
<p th:text="'Количество просмотров: ' + ${youtubeModel.viewCount}"/>
<p th:text="'Количество комментариев: ' + ${youtubeModel.commentCount}"/>



<p th:text="'Количество лайков: ' + ${youtubeModel.likeCount}"/>
<p th:text="'Количество дизлайков: ' + ${youtubeModel.dislikeCount}"/>


</body>
</html>